@import "theme.css";

.chose-candidate-img {
    max-width: 50px;
}

.single-candidate:hover {
    cursor: pointer;
}

.single-company:hover {
    cursor: pointer;
}

.is-checked {
    border: 2px solid red;
}

.bg {
    background-color:rgba(204, 204, 229, 0.4);
}

html {
    min-height: 100%;
}

.main {
    min-height: calc(100vh - 59px);
}

